<app-filter (name)="filterUp($event)"></app-filter>
<table class="table table-hover" *ngIf="episodes">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Air Date</th>
        <th scope="col">Episode</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let episode of episodes.results, index as i">
        <th>{{episode.name}}</th>
        <td>{{episode.air_date}}</td>
        <td>{{episode.episode}}</td>
        <td><button class="btn btn-primary" (click)="seeDetails(episode.id)" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalEpisodies">View</button></td>
      </tr>
    </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="modalEpisodies" tabindex="-1" aria-labelledby="modalEpisodies" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalEpisodiesLabel">{{episode?.name}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="spinner-border text-primary" role="status" *ngIf="showSpinnerModal">
          <span class="visually-hidden">Loading...</span>
        </div>
        <table class="table table-hover" *ngIf="!showSpinnerModal">
          <thead>
            <tr>
              <th scope="col">Name</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let episod of episode?.characters">
              <th>{{episod}}</th>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>













