<app-filter (name)="filterUp($event)"></app-filter>
<table class="table table-hover" *ngIf="locations">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Dimension</th>
        <th scope="col">Type</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let location of locations.results, index as i">
        <th>{{location.name}}</th>
        <td>{{location.dimension}}</td>
        <td>{{location.type}}</td>
        <td><button class="btn btn-primary" (click)="seeDetails(location.id)" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalLocations">View</button></td>
      </tr>
    </tbody>
</table>

<div class="modal fade" id="modalLocations" tabindex="-1" aria-labelledby="modalLocations" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLocationsLabel">{{location?.name}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="spinner-border text-primary" role="status" *ngIf="showSpinnerModal">
          <span class="visually-hidden">Loading...</span>
        </div>
        <table class="table table-hover" *ngIf="!showSpinnerModal">
          <thead>
            <tr>
              <th scope="col">Name</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let episod of location?.residents">
              <th>{{episod}}</th>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


