<!-- <div class="alert alert-danger text-center" role="alert">
  <h4 class="alert-heading">Error</h4>
  <pre>{{error | json}}</pre> 
  <p class="mb-0"></p>
</div> -->
<app-filter (name)="filterUp($event)"></app-filter>
<div class="container">
  <div class="row" *ngIf="characters" >
    <div class="col-sm" *ngFor="let character of characters.results, index as i">
      <div class="cont" >
        <div class="card" style="width: 18rem;" >
            <img class="card-img-top" [src]="character.image" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{character.name}}</h5>
              <p class="card-text">Specie: {{character.species}}</p>
              <p class="card-text">Created: {{character.created}}</p>
              <a class="btn btn-primary" (click)="seeDetails(character.id)">Go somewhere</a>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>


<nav aria-label="Page navigation example" class="paginador">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
</nav>


