span{
    font-weight: bold;
}
img{
    width: 400px;
    margin: 0 auto;
}
.card{
    margin: 20px auto;
    max-width: 600px;
}
.btn{
    margin: 20px;
}
.spinner-border{
    margin: 0 auto;
}
.cont-spinner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}