<button class="btn btn-danger" [routerLink]="['/home']">Back</button>
<div class="cont-spinner">
    <div class="spinner-border text-primary" role="status" *ngIf="showSpinner">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<div class="card mb-3" *ngIf="character">
    <img [src]="character.image" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{character.name}}</h5>
      <p class="card-text"><span>Specie: </span>{{character.species}}</p>
      <p class="card-text"><span>Status: </span>{{character.status}}</p>
      <p class="card-text"><span>Gender: </span>{{character.gender}}</p>
    </div>
</div>