<form [formGroup]="formGroup" (ngSubmit)="onSubmit2()">
    <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">\o/</span>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping" formControlName="name">
        <input type="submit" class="btn btn-primary">
    </div>
</form>